/* Music */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #212121;
}
.container{
    /* max-width: 400px; */
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: pink;
    border: 2px solid white;
    border-radius: 15px;
}
input,button{
    border-radius: 7px;
    padding: 5px;
    color: white;
    border: 1px solid white;
    padding: 4px;
    margin: 4px;
    color: black;
}
button{
    background-color: aqua;
    color: white;
}
#result {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    background-color: inherit;
}
  
#song {
    width: 280px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    overflow: hidden;
    padding: 1rem;
    font-family: 'Segoe UI', sans-serif;
}
  
#song:hover {
    img{
        transform: scale(1.05);
        transition : transform 0.1s ease-out
    }
}
  
.image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}
  
#song p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
    color: #333;
}
  
.audio audio {
    width: 95%;
    margin-top: 0.5rem;
    border-radius: 8px;
}

  